.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
}

.bannerSection {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(1200px, 100%);
  background-color: #444444;
  border-radius: 10px;
}

.bannerContainer {
  position: relative;
  margin: auto;
  width: min(1200px, 100%);
  height: 530px;
  background-color: #eee;
  background: url("/main/test_banner.png") no-repeat center / cover;
  border-radius: 10px 10px 0 0;
}

.ad {
  position: absolute;
  top: 144px;
  left: -290px;
  width: 240px;
  height: 400px;
  background-color: #ccc;
}

.contentSection {
  position: relative;
  margin: auto;
  margin-bottom: 70px;
  width: min(1200px, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.ads {
  margin-bottom: 30px;
  object-fit: contain;
  object-position: center;
}

.contentContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

.contentBox {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.contentBox:hover {
  transform: translateY(-5px);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
}

.contentImageBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 230px;
  height: 230px;
  overflow: hidden;
  cursor: pointer;
  background-color: #eaf2ff;
  border-radius: 50%;
  border: 10px solid #0733a1;
}

.contentNameBox {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 14px;
  display: flex;
  justify-content: center;
  width: 230px;
  height: 60px;
  color: #fff;
  background-color: #0733a1;
}

.contentName {
  font-family: "ONE Mobile Title";
  font-size: 24px;
  font-weight: 400;
}

.previewSection {
  margin: auto;
  margin-top: 70px;
  width: min(1200px, 100%);
  height: 950px;
  display: flex;
}

.previewContainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left {
  justify-content: space-between;
}

.title {
  margin-top: 256px;
  margin-bottom: 20px;
  color: #005aff;
  font-family: "Jalnan2";
  font-size: 68px;
}

.subtitle {
  color: #1b2a40;
  font-size: 24px;
  font-family: "Pretendard";
}

.point {
  position: relative;
}

.point::after {
  top: -1px;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #033491;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.rotate {
  margin-left: 10px;
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  transform: rotate(15deg) translate(-3px, -2px);
}

.right {
  align-items: flex-start;
  padding: 83px 45px 68px 45px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 8px 30px rgba(34, 59, 84, 20%);
}

.titleBox {
  margin-bottom: 20px;
}

.previewTitle {
  margin-bottom: 20px;
  font-family: "ONE Mobile Title";
  font-size: 32px;
}

.hot {
  position: relative;
  margin: 0 20px;
  font-size: 42px;
}

.hot::after {
  position: absolute;
  top: 0;
  left: 20px;
  transform: translate(-50%, -50%);
  content: "";
  background: url("/main/hot.png") no-repeat center;
  display: inline-block;
  width: 140px;
  height: 140px;
  z-index: -10;
}

.hotDealPreview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  padding: 50px 26px;
  width: 100%;
  height: 280px;
  border-radius: 10px;
  box-shadow: 0px 8px 30px rgba(34, 59, 84, 20%);
}

.hotDealContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hotDealInfo {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  font-family: "Pretendard";
  gap: 8px;
}

.hotDealBrand {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
}

.hotDealCar {
  width: 140px;
  font-size: 22px;
  font-weight: 500;
  word-break: keep-all;
}

.hotDealDotButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hotDealDot {
  width: 10px;
  height: 10px;
  background-color: #c6d0e7;
  border-radius: 50%;
}

.activeDot {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #0733a1;
}

.rankPreview {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.rankBox {
  padding: 15px 30px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  box-shadow: 0px 8px 30px rgba(34, 59, 84, 10%);
  border-radius: 10px;
}

.rank {
  margin-right: 50px;
  width: 12px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.rankInfo {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard";
  gap: 4px;
}

.rankCar {
  display: flex;
  align-items: center;
  gap: 24px;
}

.rankName {
  font-weight: 500;
  font-size: 17px;
  color: #1b2a40;
}

.rankBrand {
  font-weight: 400;
  font-size: 12px;
  color: #888888;
}

.rankTrim {
  font-weight: 400;
  font-size: 14px;
  color: #888888;
}

.featureSection {
  width: 100%;
  background-color: rgba(248, 248, 248, 0.6);
  font-family: "Pretendard";
  letter-spacing: -0.02em;
}

.featureContainer {
  margin: auto;
  margin-top: 180px;
  margin-bottom: 50px;
  width: min(1200px, 100%);
}

.featureBox {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightFeature {
  text-align: end;
}

.caption {
  margin-bottom: 20px;
  font-size: 20px;
  color: #0042ff;
  font-weight: 500;
}

.featureTitle {
  margin-bottom: 40px;
  color: #1b2a40;
  font-size: 30px;
  font-weight: bold;
  line-height: 140%;
}

.featureDescription {
  color: #1b2a40;
  font-size: 20px;
  line-height: 150%;
}

/* .featureImage {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 400px;
}

@keyframes fade-in {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
} */
