.title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}

.subTitle {
  margin-left: 18px;
  color: #86868b;
}

.colorName {
  margin-bottom: 25px;
  color: #121212;
  font-size: 17px;
  font-weight: 600;
}

.trimSection {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.colorOptionContainer {
  padding: 0 2px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 9px;
}

.colorOptionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
}

.colorOptionBoxActive {
  position: relative;
  outline: 2px solid #147fff;
  border-radius: 7px;
}

.colorOptionBoxActive .colorBox {
  border: 0;
}

.optionCheck {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.optionCheckActive {
  display: block;
}

.colorBox {
  display: flex;
  width: 46px;
  height: 46px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.12);
}

.twoColorBox {
  overflow: hidden;
}

.twoColor {
  width: 50%;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.12);
}

.hr {
  margin-top: 40px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid #121212;
}

.colorPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #121212;
  font-size: 20px;
  font-weight: 600;
}
