.main * {
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

.main {
  width: 100%;
  font-family: "Pretendard";
}

.content {
  display: flex;
  margin: 50px auto;
  width: min(1200px, 100%);
  gap: 42px;
}

.left {
  width: 198px;
}

.nicknameBox {
  margin: 17px 0;
  display: flex;
  justify-content: space-between;
}

.nickname {
  font-family: "Paperlogy";
  color: #121212;
  font-size: 26px;
  font-weight: 500;
}

.menuSection {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  letter-spacing: -0.02em;
}

.menuContainer {
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.menuContainer:last-child {
  border-bottom: none;
}

.menu {
  padding: 0 20px;
  height: 40px;
  display: flex;
  align-items: center;
  line-height: 140%;
}

.head {
  color: #113397;
  font-size: 18px;
  font-weight: 500;
}

.right {
  flex: 1;
}

.contentTitle {
  padding: 20px 0;
  font-family: "Paperlogy";
  color: #121212;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #121212;
}

.selectSection {
  margin: 20px;
  display: flex;
  align-items: center;
  color: #777777;
  font-size: 15px;
  letter-spacing: -0.02em;
}

.selectSection input,
.selectSection label,
.selectSection p {
  cursor: pointer;
}

.selectSection hr {
  margin: 0 12px;
  width: 1px;
  height: 12px;
  border: 0;
  border-left: 1px solid #dddddd;
}

.selectAllBox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectAllBox input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.carList {
  display: flex;
  flex-direction: column;
}

.carContainer {
  padding: 22px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.carBox {
  display: flex;
  align-items: center;
}

.carBox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.carImage {
  margin-left: 20px;
  margin-right: 25px;
  width: 204px;
  height: 114px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

.carInfo {
  display: flex;
  flex-direction: column;
}

.brandBox {
  margin: 8px 0;
  display: flex;
  gap: 4px;
}

.brandImage {
  width: 26px;
  height: auto;
}

.brand {
  color: #666666;
  letter-spacing: -0.01em;
}

.model {
  margin-bottom: 16px;
  color: #121212;
  font-size: 20px;
  font-weight: 600;
}

.priceBox {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.price {
  font-family: "ONE Mobile Title";
  color: #0e59ff;
  font-size: 26px;
}

.priceUnit {
  margin-left: 4px;
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.realPrice {
  color: #aaaaaa;
  margin-bottom: 3px;
  letter-spacing: -0.02em;
  text-decoration: line-through;
}

.discountBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount {
  margin-bottom: 4px;
  font-size: 14px;
  color: #888888;
  letter-spacing: -0.02em;
}

.discountPrice {
  font-weight: 600;
}

.percent {
  color: #e12929;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.estimateButton {
  width: 64px;
  height: 64px;
  color: #434343;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.02em;
  background-color: #ffffff;
  border: 1px solid #434343;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.estimateButton:hover {
  background-color: #434343;
  color: #ffffff;
}
