.main {
  margin: auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: min(1200px, 100%);
}

.ads {
  margin-bottom: 30px;
  object-fit: contain;
  object-position: center;
}
