.main {
  display: flex;
  justify-content: space-between;
}

.right {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleModelImgSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modelImg {
  width: 400px;
  height: 300px;
  background-color: #222222;
}

.optionSection {
  display: flex;
  flex-direction: column;
}

.optionTitle {
  position: relative;
  padding: 10px 24px;
  font-size: 20px;
  color: #bbbbbb;
  border: 1px solid #222222;
  cursor: pointer;
}

.optionTitle::after {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, -50%) rotate(135deg);
  content: "";
}

.optionTitle:hover,
.optionTitleActive {
  color: #fff;
}

.optionTitleActive.optionTitle::after {
  transform: rotate(-45deg);
  right: 28px;
}

.choiceOptionSection {
  list-style: none;
  border: 1px solid #222222;
}

.choiceOptionContainer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.checkName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.choiceOptionInfo {
  position: relative;
}

.infoIcon {
  width: 14px;
  height: 14px;
  fill: #fff;
}

.choiceOptionDescription {
  width: 340px;
  display: none;
  word-break: keep-all;
}

.choiceOptionInfo:hover .choiceOptionDescription {
  padding: 10px;
  display: block;
  position: absolute;
  bottom: 130%;
  left: 5px;
  font-size: 14px;
  background-color: #bbbbbb;
  color: #222222;
  z-index: 999;
}

.colorOptionSection {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #222222;
  gap: 20px;
}

.colorOptionContainer {
  display: flex;
  list-style: none;
  gap: 20px;
}

.colorOptionBox {
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.colorOptionBoxActive {
  border: 1px solid #bbbbbb;
}

.colorBox {
  display: flex;
  width: 40px;
  height: 40px;
  border: 1px solid #aaaaaa;
}

.twoColor {
  width: 50%;
  height: 100%;
}

.colorName {
  font-size: 14px;
  word-break: keep-all;
}

.priceBtnSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.priceContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.defaultPrice {
  color: #bbbbbb;
}

.additionPrice {
  font-size: 24px;
}

.totalPriceContainer {
  display: flex;
  align-items: flex-end;
}

.totalPrice {
  display: flex;
  font-weight: bold;
}

.totalPriceContainer span {
  font-size: 18px;
}

.endBtn {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #111111;
  border: 2px solid #ffffff;
  transition: all 0.3s ease;
}

.endBtn:hover {
  color: #111111;
  background-color: #ffffff;
}

.endBtn:disabled {
  color: #bbbbbb;
  background-color: #222222;
}
