.imgSection {
  width: calc(100% - 500px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/estimate/background.png") no-repeat center center / cover;
}

.modelImg {
  margin-top: 150px;
  width: 820px;
  height: auto;
}
