.btnSection {
  display: flex;
  justify-content: space-between;
  padding: 60px 45px;
  padding-top: 30px;
}

.btn {
  width: 200px;
  height: 56px;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.btn:disabled {
  background-color: #43434380;
}

.pre {
  border: 1px solid #434343;
  color: #434343;
}

.next {
  background-color: #434343;
  color: #ffffff;
}
