.main {
  margin-top: 20px;
  width: 100%;
  font-family: "SUITE";
}

.sortContainer {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: #aeaeae;
}

.sort {
  display: flex;
  align-items: center;
}

.sortActive {
  color: #000;
}

.sortActive::before {
  margin-right: 6px;
  content: "";
  background: url("/icon/sort_active.png") no-repeat center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.divider {
  margin: 0px 15px;
  height: 12px;
  border-right: 1px solid #888;
}

.modelPart {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.modelSection {
  margin-bottom: 10px;
  padding-top: 3px;
  width: 380px;
  background-color: #0733a1;
  border-radius: 5px;
}

.modelSection button {
  font-family: "SUITE";
}

.modelContainer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 365px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}

.modelInfoSection {
  padding: 22px;
  display: flex;
  flex-direction: column;
}

.modelInfoContainer {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modelImage {
  width: 100%;
  height: 120px;
  background-color: #cccccc;
}

.modelInfoBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.brandBox {
  display: flex;
  align-items: center;
  gap: 4px;
}

.brandImg {
  width: 50px;
  height: 34px;
  object-fit: contain;
  border-radius: 50%;
}

.infoBtn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  background-color: #fff;
  border: 0;
  gap: 8px;
  cursor: pointer;
}

.infoBtn::after {
  content: "";
  background: url("/icon/info_blue.png") no-repeat center;
  width: 14px;
  height: 14px;
  display: inline-block;
}

.carName {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}

.carPrice {
  font-family: "Cafe24 Ohsquare";
  font-size: 26px;
  color: #147fff;
  text-align: end;
}

.priceUnit {
  font-size: 20px;
  color: #333;
}

.estimateBtn {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #0733a1;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 2px -3px 8px rgba(0, 0, 0, 0.6);
  box-shadow: inset -2px 3px 8px rgba(255, 255, 255, 0.6);
}
