.main {
  margin-top: 45px;
  display: flex;
  gap: 80px;
  list-style: none;
  letter-spacing: -0.02em;
}

.tab {
  color: #8794a7;
  text-decoration: none;
  font-weight: 400;
}

.tab::after {
  margin-top: 4px;
  content: "";
  display: block;
  width: 0;
  height: 1px;
  transition: all 0.3s;
  background-color: #000000;
}

.tab:hover {
  color: #1b2a40;
}

.tab:hover::after {
  width: 100%;
}

.active {
  font-weight: 600;
  color: #1b2a40;
}

.active.tab::after {
  width: 100%;
}
