.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Pretendard";
}

.contentSection {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: space-between;
}

.optionSection {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.optionContainer {
  height: calc(100% - 196px);
  padding: 60px 45px;
  padding-bottom: 0;
}
