.title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}

.subTitle {
  margin-left: 18px;
  color: #86868b;
}

.trimSection {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 5px;
}

.yearEngineName {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 28px 0px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid #121212;
}

.yearEngineName:hover {
  background-color: #f2f2f2;
}

.trimBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
}

.trimItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
}

.radioButton {
  position: relative;
  margin-right: 6px;
  width: 22px;
  height: 22px;
  appearance: none;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}

.radioButton:after {
  position: absolute;
  content: "";
  display: none;
}

.radioButton:checked {
  background-color: #444444;
  border: none;
}

.radioButton:checked:after {
  position: absolute;
  top: 3px;
  left: 8px;
  content: "";
  display: block;
  width: 4px;
  height: 10px;
  border: 2px solid #ffffff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
}

.trimLabel {
  padding: 20px 0px;
  width: calc(100% - 28px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.name {
  color: #666666;
  font-size: 16px;
}

.trimItemActive .name {
  color: #444444;
  font-weight: 600;
}

.priceSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trimItemActive .priceSection {
  font-weight: 600;
}

.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d92525;
  font-size: 16px;
  font-weight: 700;
}
