.main {
  display: flex;
  flex-direction: column;
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  text-align: center;
  font-weight: bold;
  color: red;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infoTab {
  display: flex;
  flex-direction: column;
}

.infoLabel {
  margin-bottom: 10px;
}

.infoInput {
  padding: 0 15px;
  width: 100%;
  height: 50px;
  border: 1px #ccc solid;
  border-radius: 5px;
  font-size: 16px;
}

.infoEmailTab {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoEmailSelect {
  padding: 0 5px;
}

.infoTabSub {
  margin-top: 5px;
  font-size: 13px;
  color: #666666;
}

.hr {
  margin: 20px 0;
  margin-bottom: 10px;
  height: 1px;
  border: 0;
  background-color: #eee;
}

.agreement {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.agreementOption {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.agreementAll {
  font-size: 18px;
  font-weight: bold;
}

.optionSub {
  margin-left: 4px;
  font-size: 12px;
  font-weight: normal;
}

.optionRequired {
  color: red;
}

.signupBtn {
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 16px;
  background-color: #2070eb;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.signupBtn:disabled {
  background-color: #ccc;
}
