.bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background-image: url("../../../public/kv_k9_24my_pc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
