.main {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #cecece;
}

.contentSection {
  display: flex;
  width: 1200px;
  height: 65px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0733a1;
}

.linkSection {
  display: flex;
}

.left {
  justify-content: flex-start;
  gap: 50px;
}

.right {
  width: 200px;
  justify-content: flex-end;
  gap: 8px;
}

.link {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 40px;
  background-color: #0733a1;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}

.outlineBtn {
  color: #0733a1;
  background-color: #fff;
  border: 1px solid #0733a1;
}
