.title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}

.subTitle {
  margin-left: 18px;
  color: #86868b;
}

.optionSection {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  list-style: none;
}

.optionContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

.checkbox {
  position: relative;
  margin-right: 6px;
  width: 22px;
  height: 22px;
  appearance: none;
  border: 1px solid #aaaaaa;
  cursor: pointer;
}

.checkbox:after {
  position: absolute;
  content: "";
  display: none;
}

.checkbox:checked {
  background-color: #444444;
  border: none;
}

.checkbox:checked:after {
  position: absolute;
  top: 3px;
  left: 8px;
  content: "";
  display: block;
  width: 4px;
  height: 10px;
  border: 2px solid #ffffff;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
}

.label {
  width: calc(100% - 28px);
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.checkName {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.optionActive .label {
  color: #121212;
  font-weight: 600;
}

.optionActive .checkName {
  color: #444444;
}

.checkName p {
  max-width: 300px;
  word-break: keep-all;
}

.infoIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.infoIcon {
  width: 14px;
  height: 14px;
}

.choiceOptionDescription {
  padding: 15px;
  font-size: 14px;
  background-color: #ffffff;
  color: #222222;
  width: 340px;
  word-break: keep-all;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.descriptionHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.descriptionHeader h3 {
  max-width: 270px;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  word-break: keep-all;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #666666;
}

.closeButton:hover {
  color: #147fff;
}
