.main {
  margin: 20px 10px;
  font-family: "Pretendard";
}

.writerContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.writerProfileImage {
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 50%;
  border: 1.2px solid #52667c;
  object-fit: cover;
}

.defaultImage {
  opacity: 0.6;
}

.writerInfo {
  font-size: 14px;
}

.titleContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -0.02em;
  line-height: 140%;
  color: #1b2a40;
}

.optionImage {
  cursor: pointer;
}

.optionContainer {
  padding: 4px;
  position: absolute;
  top: 0;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 9px;
}

.btn {
  padding: 5px 16px;
  font-size: 14px;
  color: #888888;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  color: #005aff;
  background-color: rgba(0, 90, 255, 0.05);
}

.content {
  margin: 30px 0;
  min-height: 200px;
  font-size: 18px;
  letter-spacing: -0.02em;
  line-height: 140%;
  color: #1b2a40;
}

.content * {
  word-wrap: break-word;
}

.hr {
  margin: 20px 0px;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #eeeeee;
}

.actionContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentSection {
  margin: 50px 0;
}

.commentInputContainer {
  margin-top: 17px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
  gap: 10px;
}

.commentProfile {
  width: 30px;
  height: 30px;
  background-color: #eeeeee;
  border: 1.2px solid #52667c;
  border-radius: 50%;
  object-fit: cover;
}

.commentInputBox {
  position: relative;
  display: flex;
  width: calc(100% - 40px);
  height: 100%;
}

.commentInput {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
  letter-spacing: -0.02em;
  border: 0;
  background-color: #012b940d;
  border-radius: 5px;
}

.commentBtn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.notLoginSection {
  margin: 20px 0;
  display: flex;
  padding: 20px;
  background-color: #012b940d;
  border-radius: 10px;
  color: #888888;
}

.notLoginSection a {
  margin-left: 20px;
  color: #0733a1;
  font-weight: 500;
}

.commentListSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.commentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Pretendard";
  letter-spacing: -0.02em;
}

.commentUserContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.commentUserInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.commentNickname {
  font-weight: 500;
  font-size: 14px;
  color: #1b2a40;
}

.commentLevelTime {
  font-size: 12px;
  color: #888888;
}

.comment {
  margin-top: 10px;
  margin-left: 40px;
  font-size: 14px;
  color: #1b2a40;
}

.commentMenuSection {
  margin-top: 16px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentMenuContainer {
  display: flex;
  gap: 10px;
}

.commentMenuContainer > button,
.recommentMenuContainer > button {
  background-color: transparent;
  border: 0;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 14px;
  color: #666666;
  cursor: pointer;
}

.recommentSection {
  margin-top: 20px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recommentContainer {
  display: flex;
  flex-direction: column;
}

.recommentMenuContainer {
  margin-top: 10px;
  margin-left: 40px;
}
