.main {
  position: relative;
  margin: 100px auto;
  width: min(1200px, 100%);
  height: 100%;
  font-family: "Pretendard";
  letter-spacing: -0.02em;
}

.summarySection {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
}

.imageSection {
  display: flex;
  gap: 40px;
}

.normalImages {
  display: flex;
  flex-direction: column;
}

.carNormalImage {
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.3);
}

.carMainImage {
  width: 475px;
  height: auto;
  max-height: 314px;
  object-fit: contain;
}

.summaryContent {
  width: 500px;
}

.modelTitle {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.modelName {
  color: #1b2a40;
  font-size: 30px;
  font-weight: 500;
}

.modelPrice {
  margin-left: 10px;
  font-size: 14px;
}

.modelSpec {
  margin-bottom: 30px;
  display: flex;
  gap: 8px;
}

.modelSpec p {
  font-size: 14px;
}

.colorSection {
  display: flex;
  flex-direction: column;
}

.colorTitle {
  margin-bottom: 14px;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.colorName {
  margin-left: 8px;
  color: #666666;
  font-size: 14px;
}

.colorContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
}

.colorOptionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
}

.colorBox {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #c2bcb2;
  box-shadow: inset 0 3px 3px 0 #0000001f;
  border-radius: 50%;
}

.twoColorBox {
  overflow: hidden;
}

.twoColor {
  width: 50%;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.12);
}

.colorOptionBox.active {
  position: relative;
  border: 1px solid #000000;
}

.buttonSection {
  display: flex;
  gap: 23px;
}

.btn {
  width: 186px;
  height: 44px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Prentendard";
  background-color: #434343;
  border: 1px solid #434343;
  cursor: pointer;
}

.btn.outline {
  color: #434343;
  background-color: #ffffff;
}

/* 탭 */
.tabBox {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #434343;
  background-color: #ffffff;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;
  color: #434343;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  border-top: 1px solid #434343;
  border-left: 1px solid #434343;
  cursor: pointer;
}

.tab:last-child {
  border-right: 1px solid #434343;
}

.tabActive {
  color: #ffffff;
  background-color: #434343;
}

/* 정보 섹션 */
.infoSection {
  margin: 120px 105px;
}

.infoContent {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}

.infoTitle {
  margin-bottom: 80px;
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.infoBox {
  margin-bottom: 30px;
  width: 100%;
}

.subTitle {
  margin-bottom: 20px;
  width: 100%;
  color: #555555;
  font-size: 20px;
  font-weight: 600;
  justify-self: flex-start;
}

.infoName {
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.yearContainer {
  margin-bottom: 40px;
}

.year {
  margin-bottom: 10px;
  color: #434343;
  font-weight: 500;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.engineBox {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  min-height: 54px;
  color: #666666;
  font-weight: 500;
  border: 1px solid #dddddd;
  text-align: center;
  word-break: keep-all;
  border-radius: 40px;
  cursor: pointer;
}

.engineBox.active {
  padding: 9px 28px;
  background-color: #434343;
  color: #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
  border: 2px solid #000000;
}

.trimSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trimBox {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 82px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
}

.trimName {
  font-weight: 600;
  word-break: keep-all;
  text-align: center;
}

.trimOriginPrice {
  margin-right: 10px;
  color: #cccccc;
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
}

.trimPrice {
  font-size: 18px;
  font-weight: 600;
}

.trimBox.active {
  background-color: #434343;
  color: #ffffff;
  box-shadow: inset 0 0 0 2px #ffffff;
  border: 2px solid #000000;
}

.trimBox.active .trimOriginPrice {
  color: #eeeeee;
}

.optionSection {
  margin-bottom: 30px;
}

.optionTitle {
  margin: 30px;
  color: #434343;
  font-size: 20px;
  font-weight: 700;
}

.optionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 45px;
}

.optionBox {
  padding: 20px 30px;
  width: calc(100% / 3 - 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
}

.optionBox:first-child,
.optionBox:nth-child(2),
.optionBox:nth-child(3) {
  border-top: 1px solid #000000;
}

.optionName {
  color: #121212;
  font-size: 16px;
}

.disable {
  color: #aaaaaa;
}

.caption {
  margin-bottom: 50px;
  color: #888888;
  text-align: center;
}

.specImageSection {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specImageContainer {
  display: flex;
  align-items: center;
}

.lengthContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lengthBox {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 160px;
  border: 1px solid #c8c8c8;
  border-right: 0;
  z-index: -1;
}

.left .lengthBox {
  top: -10px;
}

.left .length {
  transform: translateY(-20px);
}

.length {
  padding: 4px 6px;
  background-color: #ffffff;
  font-weight: 700;
}

.detailImageBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lengthBox.bottom {
  width: 210px;
  height: 8px;
  transform: translate(-50%, -4px);
  border: 1px solid #c8c8c8;
  border-top: 0;
  z-index: -1;
}

.right {
  display: flex;
  flex-direction: column;
}

.lengthBox.bottom.wheelbase {
  width: 254px;
  transform: translate(-53%, 0px);
}

.lengthBox.bottom.wheelbase + .length {
  transform: translate(-6px, 4px);
  font-weight: 400;
}

.lengthBox.bottom.side {
  width: 378px;
  transform: translate(-50%, 2px);
}

.lengthBox.bottom.side + .length {
  transform: translate(-6px, 6px);
  font-size: 18px;
}

.specSection {
  margin-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.specContainer {
  width: calc(100% / 2 - 30px);
  display: flex;
  flex-direction: column;
}

.specBox {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  color: #121212;
  font-size: 18px;
  border-bottom: 1px solid #e6e6e6;
}

.endBox {
  border-bottom: 1px solid #777777;
}

.electric {
  color: #aaaaaa;
}

.value {
  font-weight: 600;
}

.specSubTitle {
  margin-bottom: 30px;
  color: #555555;
  font-size: 20px;
  font-weight: 600;
}

.carryingSection {
  width: 100%;
}

.carryingContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carryingBox {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3 - 30px);
  height: 180px;
  background-color: #f8f8f8;
  gap: 26px;
  word-break: keep-all;
}

.imageBox {
  display: flex;
  gap: 10px;
}

.carryingBox p {
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.highlight {
  color: #ff5959;
}

.infoBox.imageBox {
  width: 100%;
  margin-bottom: 200px;
  display: flex;
  gap: 20px;
}

.image {
  width: 170px;
  height: 145px;
  background-color: #dddddd;
}

.image.first {
  width: 420px;
  height: 310px;
  flex-basis: 420px;
}

.subImageBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: calc(100% - 440px);
}

.imageMore {
  width: 170px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: -2px 0 4px 0 #52667c1a, 2px 4px 5px 0 #52667c1a;
}

.infoBox.reviewBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviewSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  padding: 35px 25px 30px;
  width: calc(100% / 4);
  background-color: #f9f9f9;
  border-radius: 20px;
  gap: 10px;
}

.reviewCar {
  color: #121212;
  font-size: 14px;
  font-weight: 600;
}

.reviewTitle {
  margin-bottom: 4px;
  color: #121212;
  font-size: 18px;
  font-weight: 600;
}

.reviewContent {
  display: -webkit-box;
  width: 100%;
  height: 70px;
  color: #777777;
  font-size: 14px;
  line-height: 130%;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.reviewInfo {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.reviewUser {
  color: #222222;
}

.reviewDisabled {
  color: #aaaaaa;
}
