.navTitle {
  margin: 20px 0;
}

.mainNav {
  list-style: none;
}

.mainNav li {
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}

.mainLi.active {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
