.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.editor,
.preview {
  height: 400px;
}

.preview {
  padding: 12px 15px;
  border: 1px solid #ccc;
  overflow-y: auto;
}
